<h1 class="text-center" *ngIf="!info">Not Signed Up Yet. <a [routerLink]="['../signup']">Sign up Now!</a></h1><br>
<div *ngIf="info">
    <div class="col-md-offset-1 col-md-8 col-lg-offset-2 col-lg-6">
        <div>
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h1>{{ info.firstName }} {{ info.lastName }}</h1>
                    <p><strong>Email: </strong> {{ info.email }} </p>
                    <p><strong>Phone: </strong> {{ info.phone }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 divider text-center col-md-offset-2">
        <fa-assignment5-menu-item [item]="info.favoriteItem"></fa-assignment5-menu-item>
    </div>
</div>